name: Deploy to AWS ECS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    
    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.0.0

    - name: Terraform Init
      run: |
        terraform init
      working-directory: ./Eks-terraform
    
    #- name: Terraform plan
     # run: |
     #   terraform plan
    
    - name: Terraform validate
      run: |
        terraform validate
      working-directory: ./Eks-terraform

    - name: Terraform Apply
      run: |
        terraform apply -auto-approve
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      working-directory: ./Eks-terraform

    # - name: Log in to Amazon ECR
    #   id: ecr_login
    #   uses: aws-actions/amazon-ecr-login@v1
    #   with:
    #     region: us-east-1
      

    - name: Log in to Amazon ECR
      id: ecr_login
      uses: aws-actions/amazon-ecr-login@v1
      with:
        mask-password: false
        registry-type: private
        skip-logout: false
      env:
        AWS_REGION: us-east-1 # Ensure your environment has the correct region
        TERRAFORM_CLI_PATH: /home/runner/work/_temp/d747af65-d62e-4200-b1eb-3693991067e9
        AWS_DEFAULT_REGION: us-east-1


    - name: Build the Docker image
      run: |
        docker build -t my-image:latest -f Dockerfile .
        docker tag medusa-backend:latest 207268090422.dkr.ecr.us-east-1.amazonaws.com/medusa-backend:latest

    - name: Push the Docker image to ECR
      run: |
        docker push 207268090422.dkr.ecr.us-east-1.amazonaws.com/medusa-backend:latest

    - name: Update ECS Service
      run: |
        aws ecs update-service --cluster medusa-cluster --service medusa-service --force-new-deployment --region us-east-1
